---
# source: https://docs.opencv.org/trunk/d7/d9f/tutorial_linux_install.html
- name: Install OpenCV Dependancies
  package:
    pkg: "{{ item }}"
    state: present
  loop:
    - build-essential
    # required
    - cmake
    - git
    - libgtk2.0-dev
    - pkg-config
    - libavcodec-dev
    - libavformat-dev
    - libswscale-dev
    # optional
    - python-dev
    - python-numpy
    - libtbb2
    - libtbb-dev
    - libjpeg-dev
    - libpng-dev
    - libtiff-dev
    - libjasper-dev
    - libdc1394-22-dev
