---
# source: https://docs.opencv.org/trunk/d7/d9f/tutorial_linux_install.html
- name: Install OpenCV Dependancies
  package:
    pkg: "{{ item }}"
    state: present
  loop:
    - build-essential
    # required
    - cmake
    - git
    - libgtk2.0-dev
    - pkg-config
    - libavcodec-dev
    - libavformat-dev
    - libswscale-dev
    # optional
    - python-dev
    - python-numpy
    - libtbb2
    - libtbb-dev
    - libjpeg-dev
    - libpng-dev
    - libtiff-dev
    # - libjasper-dev
    - libdc1394-22-dev

# source: https://github.com/opencv/opencv/issues/8622
- debug:
    msg: "Performing workaround to install libjasper-dev"

- name: Adding apt repo for jasper
  apt_repository:
    repo:  deb http://security.ubuntu.com/ubuntu xenial-security main
    state: present

- name: Install jasper libraries
  package:
    pkg: "{{ item }}"
    state: present
  loop:
    - libjasper1
    - libjasper-dev

- name: Download opencv git repo
  git:
    repo: https://github.com/opencv/opencv.git
    dest: "{{ home_dir }}"

- name: Make a build file to build OpenCV project
  file:
    path: "{{ home_dir }}/opencv/build"
    state: directoy

- name: Build OpenCV
  command: "cmake -D CMAKE_BUILD_TYPE=Release -D CMAKE_INSTALL_PREFIX=/usr/local {{ home_dir }}/opencv"
